<div class="p-5 relative background-container">

  <div *ngIf="!loading" class="absolute top-0 left-0 p-3 text-xs font-primary">
    <!-- <p >Lat.: {{weatherData.coord.lat}}</p>
      <p >Lon.: {{weatherData.coord.lon}}</p>       -->
    <app-real-time-clock></app-real-time-clock>
  </div>

  <div class="flex-col mt-6 mb-12 flex justify-center">
    <h1 class="font-primary font-bold text-5xl text-center">Castform</h1>
    <p class="text-center font-secondary text-sm">Navigate your day with accurate weather forecasts.</p>
  </div>


  <div class="flex justify-center mb-7 ">
    <form [formGroup]="searchForm">
      <div class="relative w-[50vh] suggestion-container">
        <div class="flex justify-center">
          <h1 class="absolute -top-6 text-center font-secondary text-sm font-semibold">
            Search for a Location:
          </h1>
        </div>
        <input type="text" formControlName="city"
          class="bg-gray-50 border shadow-md border-gray-300 rounded-lg text-gray-900 text-sm block w-full p-2.5"
          placeholder="Search for a Location..." aria-label="search" (focus)="onInputFocus()" (blur)="onInputBlur()" />

        <ul *ngIf="inputFocused && (suggestions.length > 0 || showNotFoundMessage || loadingSuggestions)"
          class="max-h-[50vh] overflow-auto absolute b-0 z-10 rounded-lg p-1.5 text-sm text-gray-500 noshadow shadow-lg w-full bg-slate-50 border-gray-300 border">
          <ng-container *ngIf="!loadingSuggestions; else loadingDisplay">
            <ng-container *ngIf="suggestions.length !== 0; else locationNotFound">
              <li *ngFor="let location of suggestions"
                class="py-1.5 z-50 px-2 border-b cursor-pointer hover:bg-sky-100 hover:shadow-lg border-gray-300 last:border-b-0"
                (mousedown)="onSuggestionMouseDown()" (mouseup)="onSuggestionMouseUp()"
                (click)="onSuggestionClick(location)">
                <div class="flex justify-between my-auto gap-4">
                  <div class="my-auto">
                    <p class="font-semibold text-xs">{{location.country}} - {{location.name}}</p>
                    <p matTooltip="State: {{location.state}}" class="text-[0.70rem] truncate w-[20vh]">
                      {{location.state}}
                    </p>
                  </div>
                  <div class="text-[0.60rem] text-center my-auto -space-y-2 w-100%">
                    <p matTooltip="Latitude: {{location.lat}}" class="truncate">Lat: {{location.lat}}</p>
                    <p matTooltip="Longitude: {{location.lon}}" class="truncate">Lon: {{location.lon}}</p>
                  </div>
                </div>
              </li>
            </ng-container>
          </ng-container>

        </ul>
      </div>
    </form>


  </div>

  <div class="flex justify-center">
    <div class="relative weather-container rounded-lg p-4 shadow-lg border-gray-100 border">
      <div *ngIf="!loading && weatherData; else loadingDisplay" class="px-5">

        <!-- SETTINGS -->
        <div class="absolute top-2 right-3">
          <button [matMenuTriggerFor]="settings" matTooltip="Settings">
            <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
              width="24" height="24" fill="none" viewBox="0 0 24 24">
              <path stroke="currentColor" stroke-linecap="round" stroke-width="4" d="M6 12h.01m6 0h.01m5.99 0h.01" />
            </svg>
          </button>
          <mat-menu #settings="matMenu">
            <h1 class="font-primary font-bold text-lg text-center mb-3">
              Preferences:
            </h1>

            <h1 class="font-primary text-center">
              <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="lucide inline -mt-0.5 lucide-thermometer">
                <path d="M14 4v10.54a4 4 0 1 1-4 0V4a2 2 0 0 1 4 0Z" />
              </svg>Temperature:
            </h1>
            <div class="flex-col justify-center">
              <li class="border-y">
                <button id="'&units=standard" (click)="changeMetricSystem('&units=standard')"
                  class="hover:bg-blue-900 hover:shadow-lg hover:text-white py-2 px-3 mx-2 rounded-lg">
                  &bull; Measure by Kelvin
                </button>
              </li>
              <li class="border-b">
                <button id="'&units=imperial" (click)="changeMetricSystem('&units=imperial')"
                  class="hover:bg-blue-900 hover:shadow-lg hover:text-white py-2 px-3 mx-2 rounded-lg">
                  &bull; Measure by Fahrenheit
                </button>
              </li>
              <li class="border-b">
                <button id="'&units=metric" (click)="changeMetricSystem('&units=metric')"
                  class="hover:bg-blue-900 hover:shadow-lg hover:text-white py-2 px-3 mx-2 rounded-lg">
                  &bull; Measure by Celsius
                </button>
              </li>
            </div>

            <div class="flex-col justify-center mt-3">
              <li class="border-y flex justify-center">
                <button *ngIf="!showAdvanced" id="'&units=standard" (click)="toggleAdvanced()"
                  class="hover:bg-blue-900 hover:shadow-lg hover:text-white py-2 px-3 mx-2 ">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="lucide inline -mt-1 lucide-search">
                    <circle cx="11" cy="11" r="8" />
                    <path d="m21 21-4.3-4.3" />
                  </svg>
                  Turn on Advanced View
                </button>
                <button *ngIf="showAdvanced" id="'&units=standard" (click)="toggleAdvanced()"
                  class="hover:bg-blue-900 hover:shadow-lg hover:text-white py-2 px-3 mx-2 ">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="lucide inline -mt-1 lucide-undo-2">
                    <path d="M9 14 4 9l5-5" />
                    <path d="M4 9h10.5a5.5 5.5 0 0 1 5.5 5.5a5.5 5.5 0 0 1-5.5 5.5H11" />
                  </svg>
                  Back to Basic View
                </button>
              </li>
            </div>
          </mat-menu>
        </div>

        <!-- CITY NAME -->
        <div class="text-center justify-center">
          <h1 class="text-center relative font-semibold font-primary text-4xl">
            <svg matTooltip="{{weatherData.sys.country}}"
              class="w-7 h-7 inline -mt-1.5 -mr-1 text-blue-900 dark:text-white" aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
              <path fill-rule="evenodd"
                d="M11.906 1.994a8.002 8.002 0 0 1 8.09 8.421 7.996 7.996 0 0 1-1.297 3.957.996.996 0 0 1-.133.204l-.108.129c-.178.243-.37.477-.573.699l-5.112 6.224a1 1 0 0 1-1.545 0L5.982 15.26l-.002-.002a18.146 18.146 0 0 1-.309-.38l-.133-.163a.999.999 0 0 1-.13-.202 7.995 7.995 0 0 1 6.498-12.518ZM15 9.997a3 3 0 1 1-5.999 0 3 3 0 0 1 5.999 0Z"
                clip-rule="evenodd" />
            </svg>
            {{weatherData.name}}
          </h1>
          <div class="text-center mt-0.5">
            <p class="text-xs">{{weatherData.sys.country}}
            <p class="text-xs my-auto">Lat:
              {{weatherData.coord.lat}} Lon:
              {{weatherData.coord.lon}}</p>
          </div>
        </div>

        <div class="border-b mt-2 mb-4 border-gray-100"></div>

        <!-- WEATHER INFO -->
        <div class="flex gap-10">

          <div>
            <!-- TEMP & WEATHER CONTAINER-->
            <div class="flex justify-center">
              <div class="text-center inline-flex gap-8 justify-center">

                <!-- TEMP -->
                <div
                  matTooltip="{{weatherData.main.temp_min}}°{{getMetricSymbol(metricSystem)}} to {{weatherData.main.temp_max}}°{{getMetricSymbol(metricSystem)}}"
                  class="my-auto">
                  <h1 class="font-primary font-bold text-6xl px-3">
                    {{weatherData.main.temp}}°{{getMetricSymbol(metricSystem)}}</h1>
                  <p class="my-auto text-center  text-sm font-primary">Temperature</p>
                </div>

                <div class="flex justify-center rounded-lg pl-8 pr-5 bg-blue-900 pb-2">
                  <!-- WEATHER -->
                  <div class="my-auto">
                    <div class="inline-flex">
                      <h1 class="my-auto font-primary font-bold text-3xl">{{weatherData.weather[0].main}}</h1>
                      <img class="h-14 -ml-1 -my-auto"
                        [src]="'https://openweathermap.org/img/wn/' + weatherData.weather[0].icon + '@2x.png'"
                        alt="Weather Icon">
                    </div>
                    <p class="text-center -mt-3 -ml-4 text-sm font-primary">{{weatherData.weather[0].description}}</p>
                  </div>

                  <!-- HUMIDITY -->
                  <div *ngIf="weatherData.rain && showAdvanced" class="my-auto text-center pt-2">
                    <div class="inline-flex">
                      <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"
                        fill="currentColor" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" class="lucide text-blue-900 inline mt-2 lucide-droplet">
                        <path
                          d="M12 22a7 7 0 0 0 7-7c0-2-1-3.9-3-5.5s-3.5-4-4-6.5c-.5 2.5-2 4.9-4 6.5C6 11.1 5 13 5 15a7 7 0 0 0 7 7z" />
                      </svg>
                      <h1 class="my-auto font-primary font-bold text-3xl">{{ weatherData.rain?.['1h'] || 0 }}mm</h1>
                    </div>
                    <p class="text-center text-sm font-primary mx-5">Amount of rain for the past hour</p>
                  </div>

                </div>

              </div>

            </div>


            <div *ngIf="!showAdvanced" class="flex gap-10 mt-8 justify-center">
              <div class="my-auto">
                <h1 class="font-primary text-center font-bold text-4xl">
                  <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24" fill="currentColor"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="lucide text-blue-500 inline -mt-1.5 -mr-1 lucide-droplet">
                    <path
                      d="M12 22a7 7 0 0 0 7-7c0-2-1-3.9-3-5.5s-3.5-4-4-6.5c-.5 2.5-2 4.9-4 6.5C6 11.1 5 13 5 15a7 7 0 0 0 7 7z" />
                  </svg>
                  {{weatherData.main.humidity}}%
                </h1>
                <p class="my-auto text-center text-sm font-primary">Humidity</p>
              </div>

              <div class="my-auto">
                <h1 class="font-primary text-center font-bold text-4xl">
                  <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24" fill="currentColor"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="lucide inline -mt-1.5 -mr-1 lucide-cloud">
                    <path d="M17.5 19H9a7 7 0 1 1 6.71-9h1.79a4.5 4.5 0 1 1 0 9Z" />
                  </svg>
                  {{weatherData.clouds.all}}%
                </h1>
                <p class="my-auto text-center text-sm font-primary">Clouds</p>
              </div>
            </div>

            <!-- WIND CONTAINER-->
            <div *ngIf="showAdvanced" class="flex gap-10 mt-10 justify-center">

              <div class="my-auto">
                <h1 class="font-primary text-center font-bold text-2xl">
                  {{weatherData.main.temp_min}}°{{getMetricSymbol(metricSystem)}} to
                  {{weatherData.main.temp_max}}°{{getMetricSymbol(metricSystem)}}</h1>
                <p class="my-auto text-center text-sm font-primary">Temperature Range</p>
              </div>

              <!-- WIND SPEED -->
              <div class="my-auto">
                <h1 class="font-primary text-center font-bold text-2xl">{{weatherData.wind.speed}}m/s</h1>
                <p class="my-auto text-center text-sm font-primary">Wind Speed</p>
              </div>

              <!-- WIND DIRECTION -->
              <div class="my-auto">
                <h1 class="font-primary text-center font-bold text-2xl">{{weatherData.wind.deg}}° -
                  {{getWindDirection(weatherData.wind.deg)}}</h1>
                <p class="my-auto text-center text-sm font-primary">Wind Direction</p>
              </div>

              <div class="my-auto">
                <h1 class="font-primary text-center font-bold text-2xl">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="currentColor"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="lucide text-blue-500 inline -mt-1 -mr-1 lucide-droplet">
                    <path
                      d="M12 22a7 7 0 0 0 7-7c0-2-1-3.9-3-5.5s-3.5-4-4-6.5c-.5 2.5-2 4.9-4 6.5C6 11.1 5 13 5 15a7 7 0 0 0 7 7z" />
                  </svg>
                  {{weatherData.main.humidity}}%
                </h1>
                <p class="my-auto text-center text-sm font-primary">Humidity</p>
              </div>

              <div class="my-auto">
                <h1 class="font-primary text-center font-bold text-2xl">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="currentColor"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="lucide inline -mt-1 -mr-1 lucide-cloud">
                    <path d="M17.5 19H9a7 7 0 1 1 6.71-9h1.79a4.5 4.5 0 1 1 0 9Z" />
                  </svg>
                  {{weatherData.clouds.all}}%
                </h1>
                <p class="my-auto text-center text-sm font-primary">Clouds</p>
              </div>
            </div>
          </div>

        </div>

        <div class="flex justify-center mt-5 -mb-2 ">
          <div class="flex ">
            <button [ngClass]="{'bg-blue-900 text-white shadow-md': !showAdvanced}"
              class=" z-10 text-xs px-2 py-0.5 rounded-s-[4px] text-gray-800 cursor-pointer hover:shadow-lg"
              (click)="toggleAdvanced()">
              Basic
            </button>
            <button class=" z-10 text-xs px-2 py-0.5 text-gray-800 cursor-pointer hover:shadow-lg"
              [ngClass]="{'bg-blue-900 rounded-e-[4px] text-white shadow-md': showAdvanced}" (click)="toggleAdvanced()">
              Advanced
            </button>
          </div>
        </div>

      </div>
    </div>

    <ng-template #loadingDisplay>
      <h1 class="text-center">Loading Data...</h1>
    </ng-template>
    <ng-template #locationNotFound>
      <h1 class="text-center font-primary p-1">
        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none"
          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
          class="lucide inline ms-1 -mt-0.5 lucide-search-x">
          <path d="m13.5 8.5-5 5" />
          <path d="m8.5 8.5 5 5" />
          <circle cx="11" cy="11" r="8" />
          <path d="m21 21-4.3-4.3" />
        </svg>
        Location not found.
      </h1>
    </ng-template>

  </div>